@import '../variables';
@import '../mixins';

.skills-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-right: $spacing-lg;
    position: relative;

    &:hover {
      transform: scale(1.2) translateY(-16px);
      transition: all $transition-fast;

      .overlay-text-skills {
        opacity: 1;
      }
    }
  }

  img {
    height: auto;
    width: 60px;
  }
}

.skill-used {
  width: 50px;
}

.overlay-text-skills {
  background-color: $white;
  border-radius: $border-radius-sm;
  color: $font-color-black;
  filter: $soft-shadow;
  font-family: 'Courgette';
  font-size: $spacing-md;
  left: 50%;
  opacity: 0;
  padding: $spacing-xs;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 25px);
  transition: opacity $transition-normal;
}

@include mobile-only {
  .skills-list {
    li:hover {
      .overlay-text-skills {
        display: none;
      }

      transform: scale(1.2);
      transition: all $transition-fast;
    }

    img {
      width: 50px;
    }
  }
}