<footer class="content footer">
  <h2>Get my contact!</h2>
  <p class="social-media-description">See my profile or download my CV.</p>
  <section class="social-media">
    <div class="social-media-links">
      <!-- Link to LinkedIn -->
      <a href="https://www.linkedin.com/in/az-dev/" class="linkedin-logo">
        <img src="assets/svg/LinkedIn_icon.svg.png" alt="LinkedIn Profile">
      </a>
      <a href="assets/img/CV Adrián-EN.pdf" download="CV Adrián Zuñiga Pérez.pdf">
        <div class="social-media-overlay">
          <img class="social-media-cv" src="assets/img/cv.png" alt="Download CV" title="download it!">
          <span class="overlay-text">Download CV</span>
        </div>
      </a>
    </div>
  </section>
  <p class="copyright">© 2025 Adrián Zúñiga Pérez, Copyright. All rights reserved.</p>
</footer>