<!-- Navigation Mobile -->
<nav class="nav-mobile">
  <div class="nav-toggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul class="menu">
      <a routerLink="/"><li>Home</li></a>
      <a routerLink="/portfolio"><li>Portfolio</li></a>
      <a routerLink="/contact"><li>Contact</li></a>
    </ul>
  </div>
</nav>

<div id="top-page" class="top-page logo-container">
  <img class="logo-principal" src="assets/svg/logo-adrian-animated.svg" alt="Logo 'Adrian' animated">
</div>

<a href="#top-page">
  <img class="hand-up" src="assets/img/Mano-a.png" alt="Volver al inicio">
</a>

<header id="ancla" class="header content">
  <!-- Navigation Desktop -->
  <nav class="nav-principal">
    <ul>
      <li><a routerLink="/" class="nav-link eyes-appear">Home</a></li>
      <li><a routerLink="/portfolio" class="nav-link hand-portfolio">Portfolio</a></li>
      <li><a routerLink="/contact" class="nav-link hand-contact">Contact</a></li>
    </ul>
  </nav>
</header>